.classMayor {
  border: 5px solid green;
  background-color: black solid;
  display: grid;
  place-items: center;
  justify-content: center;
  align-items: center;
}
.partesuperior { 
	border: 5px solid yellow;
	background-color: #4C473C;
	display: grid;
	justify-content: center;
    align-items: center;
    place-items: center;
}
.classBottons {
	border: 5px solid pink;
	display: flex;
	justify-content: center;
    align-items: center;
    place-items: center;
}
.classButton {
	border: 5px solid red;
	background-color: #32373B;
	height: 5rem;
	width: 7rem;
	margin-right: 0.5%;
	border-radius: 13%;
	display: grid;
	justify-content: center;
    align-items: center;
    place-items: center;
}
.classButton span {
	color: #fff;
}
.classButton:hover>span {
	color: #1678D9;
}
.parteInferior {
	background-color:  black;
	border: solid 5px violet;
	display: grid;
	justify-content: center;
    align-items: center;
    place-items: center;
}
.classIMG {
	border: 5px solid blue;
	border-radius: 50%;
}
body {
	background-color: black;
}
h2 {
	color: white;
}
.personalDates {
	background-color: #1D1C1F;
	border: green solid 3px;
	border-radius: 15px;
	justify-content: center;
    align-items: center;
    place-items: center;
	height: 4rem;
	width: 	27rem;	
	padding-bottom: 1em;
	margin-bottom: 1.2em;
}
.personalDates a {
	color: white;
font-size: 1.2rem;
}
.personalDates a u:hover {
	color: #1678D9;
}