body {
	background-color: black;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
	color: white;
}

.center {
	place-items: center;
	justify-content: center;
	align-items: center;
}

.vCard {
	display: grid;
	}

.partesuperior {
	padding-top: 1em;
	background-color: #4C473C;
	display: grid;
}

.classBottons {
	display: flex;
	padding: 1em;
}

.classButton {
	background-color: #32373B;
	height: 3.8rem;
	width: 7rem;
	margin-right: 1.5%;
	margin-left: 1.5%;
	border-radius: 13%;
	display: grid;
	place-items: center;
	justify-content: center;
	align-items: center;
}

.classButton span {
	color: #fff;
}

.classButton:active {
	background-color: white;
}

.classButton:hover>span {
	color: #1678D9;
}

.parteInferior {
	background-color: black;
	display: grid;
}

.classIMG {
	border-radius: 50%;
}

.personalDates {
	background-color: #252526;
	width: 27rem;
	padding: 1em;
	margin-bottom: 1.2em;
	border-radius: 15px;
}

.personalDates a {
	color: white;
	font-size: 1.2rem;
}

.personalDates a u:hover {
	color: #1678D9;
}